<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
         body {
      background-image: url('{% static 'img/dwall.jpg' %}');
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;


    }
    section{
    background-color:rgba(255,255,255,0.5);

    }
    table{
    background-color:rgba(255,255,255,0.7);
    }
    </style>
</head>
<body>
<section class="body">
    <div class="container mt-5">
        <div class="heading_container text-center mb-4">
            <h2>Doctor List</h2>
        </div>
        <table class="table" style="margin:0 auto;width:auto;">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody >
                {% for doctor in doctors %}
                    <tr>
                        <td>{{ doctor.user.username }}</td>
                        <td>{{ doctor.department.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
